[submodule "themes/ezhil"]
	path = themes/ezhil
	url = https://github.com/Eriice/ezhil.git
[submodule "content/posts"]
	path = content/posts
	url = https://github.com/Eriice/blog-article.git
[submodule "static"]
	path = static
	url = https://github.com:Eriice/blog-assets.git
